
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Estimation Prix Biens Immobiliers</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="background: #fff;">
 <div class="login">
	<h1>Prediction prix</h1>
  
<div> 
  <form action="{{ url_for('predict')}}"method="post"> 
    <label for="type_vente">Type Vente</label> 
    <select id="type_vente" name="type_vente"> 
      <option value="Vente">Vente</option> 
      <option value="Vente terrain à bâtir">Vente terrain à bâtir</option> 
      <option value="Vente en l'état futur d'achèvement">Vente en l'état futur d'achèvement</option> 
    </select> 
    <br>
    <br> 
    <label for="local">Type Local</label> 
    <select id="local" name="local"> 
      <option value="Local industriel. commercial ou assimilé">Local industriel. commercial ou assimilé</option> 
      <option value="Appartement">Appartement</option> 
      <option value="Maison">Maison</option> 
      <option value="Dépendance">Dépendance</option> 
    </select> 
    <br>
    <br>
    <label for="region">Région</label> 
    <select id="region" name="region"> 
      <option value="Sud Est">Sud Est</option> 
      <option value="Nord Est">Nord Est</option> 
      <option value="Sud Ouest">Sud Ouest</option> 
      <option value="Nord Ouest">Nord Ouest</option>
      <option value="Region Paris">Region Paris</option>
      <option value="DOM TOM">DOM TOM</option>
    </select> 
    <br>
    <br>
    <label for="piece">Nombre pièces</label> 
    <select id="piece" name="piece"> 
      <option value="0.0">0</option> 
      <option value="1.0">1</option> 
      <option value="2.0">2</option> 
      <option value="3.0">3</option> 
      <option value="4.0">4</option> 
      <option value="5.0">5</option> 
      <option value="6.0">6</option> 
      <option value="7.0">7</option> 
      <option value="8.0">8</option> 
      <option value="9.0">9</option> 
      <option value="10.0">10</option> 
    </select> 
    <br> 
    <br>
    <br>
    <br>
    <button type="submit" class="btn btn-primary btn-block btn-large">Estimation</button>
  </form>

  <br>
  <br>
  {{ prediction_text }}

</div>


</body>
</html>